<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Patrimonios: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'geral' %>
  <%= javascript_include_tag  :defaults %>
</head>
<body>

<% if flash[:notice] %>
	<script>alert('<%= flash[:notice] %>');</script>
<%end%>


<div class='barra_top'>
	<p class="icone" style="float: right;"><%= image_tag("letra_bvfilmes.jpg", :style => 'width: 260px; height: 30px;') %></p>
	<p class="titulo" style="margin-top: 60px; position: relative;">Controle Patrimonios</p>
</div>

<div class='menu_lateral'><%= @menu_lateral %></div>

<div class='conteudo'><%= yield %></div>

</body>
</html>
